<div>

  <div *ngIf="!showNoHistoryMessage">

  <div *ngFor="let historyItem of history" class="historyItem">

      <article class="card">
        <header class="card__title">
          <!--<h3>History Entry</h3>-->
          <!--{{ historyItem }}-->
        </header>
        <figure class="card__thumbnail">
          <!--{{ historyItem }}-->
        </figure>
        <main class="card__description">
          <!--'Output preview'-->
          {{ historyItem }}
        </main>
        <button id="retrieveButton" (click)="retrieveText(getRightText(historyItem))" class="button">Retrieve Text</button>
      </article>

  </div>

  </div>

  <div *ngIf="showNoHistoryMessage">
    <h1 style="border: solid black 1px; padding: 10px">Sorry -- No History to Show!</h1>
    <!--<p>{{ currentUser }}</p>-->
    <!--<p>{{ showNoHistoryMessage }}</p>-->
  </div>

  <!--<div class="left">-->
  <!--<button class="leftButton" (click)="logout()">Sign Out</button>-->
  <!--</div>-->
  <!--<p class="middle">Welcome, {{ headerTitle }}</p>-->
  <!--<div class="right">-->
  <!--<button class="rightButton" (click)="login()">Sign In</button>-->
  <!--</div>-->

</div>
