
<div id="container">

  <!--<button (click)="newMessage()">Button to click</button>-->

  <div class="panel panel-default">
    <div class="panel-heading">Get Your OCR On</div>
    <div class="panel-body">
      <div class="step" *ngIf="analysisStarted">Getting Hamsters <span *ngIf="!stepOneComplete"> ({{ tesseractProgress | percent:'.1-2' }})</span>
        <i *ngIf="stepOneComplete" class="fas fa-check fa-2x"></i>
      </div>
      <div class="step" *ngIf="stepOneComplete">Getting Wheels <span *ngIf="!stepTwoComplete"> ({{ tesseractProgress | percent:'.1-2' }})</span>
        <i *ngIf="stepTwoComplete" class="fas fa-check fa-2x"></i>
      </div>
      <div class="step" *ngIf="stepTwoComplete">Spinning Hamsters <span *ngIf="!stepThreeComplete"> ({{ tesseractProgress | percent:'.1-2' }})</span>
        <i *ngIf="stepThreeComplete" class="fas fa-check fa-2x"></i>
      </div>
    </div>
  </div>

  <div id="uploadBox">
    <button id="get_file"
            (click)="getPhoto()" >
      <img src="assets/uploadImage.jpg" id="inputImage" alt="your image"/>
    </button>
    <input id="my_file" type="file" (change)="getPath($event)">
  </div>

</div>


