
<div id="container">

  <!--<button (click)="newMessage()">Button to click</button>-->

  <div class="panel panel-default">
    <div class="panel-heading">Xanadu</div>
    <div class="panel-body">
      <div class="step" *ngIf="analysisStarted"> Spawning Hamsters... <span *ngIf="!stepOneComplete"> ({{ tesseractProgress | percent:'.1-2' }})</span>
        <i *ngIf="stepOneComplete" class="fas fa-check fa-2x"></i>
      </div>
      <div class="step" *ngIf="stepOneComplete"> Building Wheels... <span *ngIf="!stepTwoComplete"> ({{ tesseractProgress | percent:'.1-2' }})</span>
        <i *ngIf="stepTwoComplete" class="fas fa-check fa-2x"></i>
      </div>
      <div class="step" *ngIf="stepTwoComplete"> Hamsters Spinning... <span *ngIf="!stepThreeComplete"> ({{ tesseractProgress | percent:'.1-2' }})</span>
        <i *ngIf="stepThreeComplete" class="fas fa-check fa-2x"></i>
      </div>
    </div>
  </div>

  <!--<div id="uploadBox">-->
    <!--<button id="get_file"-->
            <!--(click)="getPhoto()" >-->
      <!--<img src="assets/uploadImage.jpg" id="inputImage" alt="your image"/>-->
    <!--</button>-->
    <!--<input id="my_file" type="file" (change)="getPath($event)">-->
  <!--</div>-->


  <!--&lt;!&ndash;MODAL START&ndash;&gt;-->
  <!--&lt;!&ndash; open a modal window by clicking button&ndash;&gt;-->


  <!--&lt;!&ndash;<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#bootstrapModel">click to open</button>&ndash;&gt;-->
  <!--<button type="button" class="btn btn-info btn-lg" (click)="openModal()">Upload Photo</button>-->

  <!--<input style="border: black solid 2px; width: 100%; height: 100%;"-->
         <!--type="file"-->
         <!--(change)="fileChangeEvent($event)"/>-->

  <div id="inputContainer">

    <div id="fileInputButton">
  <input type="file" name="file" id="file" class="inputfile" (change)="fileChangeEvent($event)" />
  <label for="file">Choose a file</label>
    </div>

    <div id="noteShrinkButton">
      <input type="checkbox" id="UseNoteshrink" value="off" (change)="toggleNoteshrink()">
      <label for="UseNoteshrink">Advanced Processing</label>
      <button (click)="doneMethod()" id="saveTextButton">{{ analyzeMessage }}</button>
      <button (click)="saveFunction()" id="saveTextButton">{{ saved ? 'Save Text = True' : 'Save Text = False' }}</button>
    </div>

    <hr>

  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="false"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <!--<img [src]="croppedImage" />-->
  <!--<input type="checkbox" id="UseNoteshrink" value="off" (change)="toggleNoteshrink()">-->
  <!--<label for="UseNoteshrink">Use Advanced Processing (JPG and PNG ONLY)</label>-->
  <!--<button (click)="doneMethod()">Click When Done Cropping</button>-->

  <div class="backdrop" [ngStyle]="{'display':display}"></div>

  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal Title</h4>
        </div>


        <div class="modal-body">
          <img src="assets/uploadImage.jpg" style="height: 200px; width: 200px;">
          <!--<div class="demo" style="height: 200px; width: 200px; border: solid black 2px;"></div>-->
          <img src="assets/uploadImage.jpg" style="height: 200px; width: 200px;"> -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
        </div>


      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->
  <!--MODAL END-->

</div>
