
div {
  /*
  Height and line-height have to match
   */
  height: 100%;
  line-height: 100px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /*border: solid black 1px;*/

  border-top: 50px solid #3F4942;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin-bottom: 20px;
  font-family: Lato;
}

#uploadBox {
  line-height: 0px;
  border: 1px dashed black;
  width: 50%;
  height: 200px;
}

.uploadHeader {
  margin: 0px;
  padding: 0px;
  color: #76D38F;
}

#my_file {
  display: none;
}

#get_file {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0px;
}

#inputImage {
  width: 100px;
  height: 100px;
  margin: 0;
}

button {
  color:transparent !important;
  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;
}

